*{
    margin: 0;

   /* background-color: peachpuff; */
}
body{
    background-size: cover;
    background-image: url(abc.jpg);
    
}
.main{
    width: 100%;
    height: 100vh;
    /* background: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
}
.calculator{
    background: black;
    opacity: 80%;
    /* padding: 50px; */
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    /* background: transparent; */
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: black; */
    cursor: pointer;
    margin: 10px;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2); */
}

.calculator form input:hover{
    border-radius: 40px;
    /* color: red; */
    /* transition: 0.1s ease-in; */
    transition: all 0.3s linear;
    transform: scale(2.0);
    background: transparent;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2); */
}

form .result_box input:hover{
    box-shadow: none;
    cursor:default;
    /* color: black; */
    /* transition: all 0.3s linear; */
}

form .result_box{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .result_box input{
    text-align: right;
    font-size: 40px;
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: none;
    background: transparent;
    color: white;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: white;
    background-color: #0080FE;
}
form input.gray{
    color: white;
    background-color: gray;
}
form input.btn{
    background-color: darkgray;
    color: #0080FE;
}
.footer {
    height: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    color: #0080FE;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.footer:hover{
    transform: scale(1.1);
    transition: all 3s linear;
    color: black;
}
.contact-icon-h {
    height: 50px;
    width: 50px;
    background-color: #0080FE;
    /* background-color: rgb(0, 128, 0); */
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    box-shadow: 1px 4px 2px 2px black;
    line-height: 65px;
    position: fixed;
    left: 50px;
    bottom: 40px;
    top: auto;
}

.contact-icon-h i {
    font-size: 30px;
    transition: all 0.3s linear;
    /*color: red;*/
}

.contact-icon-h:hover {
    background-color: rgba(255, 255, 255, 0);
}

.contact-icon-h:hover i{
    transform: scale(1.2);
}

.centerh{
    display: flex;
    flex-direction: column;
}

.doodle1{
    bottom: 280px;
}

.doodle2{
    bottom: 220px;
}

.doodle2:hover i{
    color: red;
}

.doodle3{
    bottom: 160px;
}

.doodle3:hover i{
    color: green;
}

.doodle4{
    bottom: 100px;
}

.doodle4:hover i, .doodle5:hover i{
    color: darkblue;
}

.doodle5{
    bottom: 40px;
}
.fa-square-facebook{
    color: darkblue;
}

.fa-square-instagram:hover {
    color: red;
}

.fa-square-instagram{
    color: pink;
}

.fa-square-whatsapp{
    color: lightgreen;
}

.fa-square-whatsapp:hover {
    color: green;
}

.fa-square-x-twitter:hover, .fa-linkedin:hover{
    color: darkblue;
}

.fa-linkedin{
    color: lightblue;
}

.fa-square-x-twitter{
    color: lightblue;
}